<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Variabele indeling DECADE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/decadeschermen/css/bootstrap.min.css">
</head>

<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
 		<th:block th:replace="fragments/common-environment :: common-environment"/>   
    	<p />
       	<h3>Schermen</h3>
        <div class="card">
        	<div class="card-body">
                    <div class="col-md-10">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Verkorte naam</th>
                                        <th>Niveau</th>
                                        <th colspan="1">Actie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="schermdefinitiesniveau : ${schermdefinitiesniveaus}">
                                    	<td th:text="${schermdefinitiesniveau.verkortenaam}"></td>
                                    	<td th:text="${schermdefinitiesniveau.niveau}"></td>
                                        <td>
                                        	<a th:href="@{/schermdefinitiestypes/(environmentid=${environment.environmentid},verkortenaam=${schermdefinitie.verkortenaam})}" class="btn btn-primary">Naar niveaus</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
            </div>
        </div>
    </div>
    
    <th:block th:replace="fragments/common-footer :: common-footer"/>
    
</body>
</html>
